body{
    font-family: 'Poppins', sans-serif;
    color: #23599b;
}
.nav-link{
    font-weight: 500;
    font-size: 20px; 
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #23599b;
}
.navbar-light .navbar-nav .nav-link{
    color: #23599b;
}
.nav-item{
    padding: 0 4px;
}
.container-fluid{
    padding-left: 20px;
    padding-right: 20px;
}
.bg-light {
    background-color: #ffffff!important;
    box-shadow: 0 0 5px 0px #0000005e;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #23599b;
}

.navbar-light .navbar-toggler{
    border: none;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(35,89,155)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar-brand{
    max-width: 90%;
    height: 40px;
}
.navbar-brand img{
    max-width: 100%;
    max-height: 100%;
}

.navbar{
    height: 62px;
}

#navbarSupportedContent{
    background: white;
}

.container-fluid.content{
    margin-top: 62px;
    padding: 36px 30px;
}

.container-fluid h1{
    font-size: 1.7em;
    text-align: center;
    font-weight: 500;
}

.container-fluid .desc{
    color: black;
    margin-top: 15px;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
}

form{
    margin-top: 60px;
}

.form-group{
    margin-bottom: 20px;
}

label{
    font-weight: 500;
    font-size: 1.3em;
}

button[type="submit"]{
    margin-top: 10px;
    border-radius: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    background-color: #23599b;
    padding: 5px 15px;
    border: none;
    color: white;
    user-select: none;
    -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

button[type="submit"]:disabled{
    color: #23599baf;
    border: 2px solid #23599baf;
    background-color: white;
}

button[type="submit"]:hover, button[type="submit"].focus{
    box-shadow: 0 0 5px 0px #0000005e;
    transition: 0.2s;
}